*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    background-image:url("./ph/gambsim.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    text-shadow: 5px 5px 32px purple;
    text-size-adjust: 150px;
    position: relative;
    top: 250px;
    }

.bilgiliBirAbi{
    color: white;
    position: relative; 
    bottom: 50px;
    }   

   .tusBu{
    display: flex;
    justify-content: end;
    flex: 1;
    height: 100%;
    align-items: end;
    padding-right: 10px;
   }
    .enIyiTus{
display: flex;
flex-direction: column;
height: 100%;
flex: 1;
min-height: calc(100vh - 350px);
}

button
    {
    height: 200px;
    width: 300px;
    border-radius: 30pc;
    background: none;
    font-size: 20px;
    border: 1px solid white;
    box-shadow: 2px 2px 22px inset rgb(247, 0, 214), 4px 4px 32px rgb(103, 0, 187);
    backdrop-filter: blur(50px);
    color: rgb(173, 11, 119);
    }

    @media (max-width: 800px) {
        .kumarButtons {
            position: relative;
            bottom: 1px !important;
            display: flex;
            flex-direction: column;
            gap: 30px; /* veya column-gap: 20px; */
            align-items: center;
        }
    }